<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Topic" value="Test topic"/>
    <add key="Email" value="Test EMail"/>
    <add key="PNumber" value="375298947333"/>
    <add key="MessageText" value="Test message"/>
    <add key="User.EMail" value="test.epam.rad@mail.ru"/>
    <add key="User.EMail.Incorrect" value="incorrecttest.epam@mail.ru"/>
    <add key="User.Password" value="Pa$$w0rd"/>
    <add key="User.Password.Incorrect" value="incPa$$w0rd"/>
    <add key="User.Name" value="TestUser"/>
    <add key="User.Experience.Normal" value="5"/>
    <add key="User.Experience.Zero" value="0"/>
    <add key="User.PNumber" value="375298947333"/>
  </appSettings>
</configuration>